
@{
    ViewBag.Title = "students";
}

<h2>students</h2>

<form method="post" action="">
    <input type="text" name="name" placeholder="name" class="form-control">
    <br>
    <input type="text" name="id" placeholder="id" class="form-control">
    <br>
    <input type="text" name="address" placeholder="address" class="form-control">
    <br>
    <input type="text" name="cgpa" placeholder="cgpa" class="form-control">
    <br>
    <input type="submit">
</form>

