<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MethodA</title>
</head>
<body>
    <div> 
        @Html.CustomImage("C:/Users/HASIB/Dropbox/AIUB/24. Summer 2022-23/1.jpg", "This is an image")
    </div>
</body>
</html>
