<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>OurTest</title>
</head>
<body>
    <div>
        <h1>This is a test method from lab controller.</h1>
    </div>
</body>
</html>
