
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>M1</title>
</head>
<body>
    <div>
        <h3>Info 1: @ViewBag.data</h3>
        <h3>Info 1: @TempData["id"]</h3>
        <h3>Info 1: @ViewData["info1"]</h3>
    </div>
</body>
</html>
