
@{
    ViewBag.Title = "departments";
}

<h2>departments</h2>
<form method="post" action="">
    <input type="text" name="name" placeholder="name" class="form-control">
    <br>
    <input type="text" name="id" placeholder="id" class="form-control">
    <br>
    <input type="submit">
</form>


