
@{
    ViewBag.Title = "list";
}

<h2>Department list</h2>

<table class="table table-bordered">
    <tr>
        <th>Name</th>
        <th>id</th>
    </tr>
    @foreach (var department in Model)
    {
        <tr>
            <td>@department.name</td>
            <td>@department.id</td>
        </tr>

    }

</table>

