
@{
    ViewBag.Title = "Personal";
}

<h2>Personal Information</h2>

<ul>
    <li>Name: SHOHAN MOROL</li>
    <li>Fathers Name: BABUL MOROL</li>
    <li>Mothers Name: SULTANA AKTER</li>
    <li>Mobile Number: 01968859654</li>
    <li>Email: shohan.aiubcse@gmail.com</li>
    <li>Address: kalshi, mirpur - Dhaka</li>
</ul>

<a href="/Home/Index/" class="btn btn-info">Index</a>
<a href="/Home/Project/" class="btn btn-primary">Project</a>
<a href="/Home/Education/" class="btn btn-info">Education</a>

<a href="/Home/Reference/" class="btn btn-primary">Reference</a>
